body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#ffd54f,#ffb300);
    font-family: Arial, sans-serif;
}

.card{
    background:white;
    padding:40px;
    width:320px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    color:#ff8f00;
}

p{
    color:#555;
}

input{
    width:100%;
    padding:12px;
    margin-top:15px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    margin-top:20px;
    padding:12px;
    width:100%;
    border:none;
    border-radius:8px;
    background:#ffb300;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#ffa000;
}